Bin/
Model/release/
Analysis/release/
HumablotPro/release/
*.obj
Utilities/release/
Instrument/release/
DAO/release/
Database/release/
Lib/
BLL/vc140.pdb
DAO/vc140.pdb
Database/vc140.pdb
Instrument/vc140.pdb
Model/vc140.pdb
Theme/vc140.pdb
Utilities/vc140.pdb
Theme/debug/
Model/debug/
Utilities/debug/
HumablotPro/debug/
Database/debug/
Instrument/debug/
BLL/debug/
DAO/debug/
Analysis/debug/
*.Release
*.tlog
*.log
*.pdb
*.pch
*.Debug
Makefile
/*.user
*.user
/HumablotPro/*.user
